# ==================================
# 1. Carpetas de compilación de .NET
# ==================================
bin/
obj/

# ==================================
# 2. Archivos de IDE y usuario
# ==================================
.vs/
*.user
*.suo
*.vscode/

# ==================================
# 3. SECRETOS (¡NUNCA SUBIR ESTO!)
# ==================================
appsettings.json
appsettings.Development.json
secrets.json

# ==================================
# 4. Bases de datos locales
# ==================================
runs_database.json
*.db
*_old.json
#*.sqlite
#scan_state.txt
#synced_runners.txt
# ==================================
# 6. Configuraciones de GitHub
# ==================================
.github/